USE [master]
GO
/****** Object:  Database [CONDIV]    Script Date: 21/08/2022 19:32:17 ******/
CREATE DATABASE [CONDIV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CONDIV', FILENAME = N'/var/opt/mssql/data/CONDIV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CONDIV_log', FILENAME = N'/var/opt/mssql/data/CONDIV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CONDIV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CONDIV]
GO
/****** Object:  Table [dbo].[CONDIV_TC_MONEDA]    Script Date: 21/08/2022 19:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONDIV_TC_MONEDA](
	[ID_MONEDA] [int] IDENTITY(1,1) NOT NULL,
	[CO_MONEDA] [nvarchar](15) NOT NULL,
	[NO_MONEDA] [nvarchar](50) NOT NULL,
	[NO_PAIS] [nvarchar](100) NOT NULL,
	[SB_MONEDA] [nchar](10) NOT NULL,
	[ES_REGISTRO] [nchar](2) NULL,
	[US_CREACION] [nvarchar](50) NULL,
	[FE_CREACION] [datetime] NULL,
	[IP_CREACION] [nvarchar](50) NULL,
	[US_ACTUALIZACION] [nvarchar](50) NULL,
	[FE_ACTUALIZACION] [datetime] NULL,
	[IP_ACTUALIZACION] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MONEDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONDIV_TC_CONVERTIR]    Script Date: 21/08/2022 19:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONDIV_TC_CONVERTIR](
	[ID_CONVERTIR] [int] IDENTITY(1,1) NOT NULL,
	[CO_CONVERTIR] [nvarchar](50) NOT NULL,
	[NO_CONVERTIR] [nvarchar](100) NULL,
	[ES_REGISTRO] [nchar](2) NULL,
	[US_CREACION] [nvarchar](50) NULL,
	[FE_CREACION] [datetime] NULL,
	[IP_CREACION] [nvarchar](50) NULL,
	[US_ACTUALIZACION] [nvarchar](50) NULL,
	[FE_ACTUALIZACION] [datetime] NULL,
	[IP_ACTUALIZACION] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CONVERTIR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONDIV_TC_CONVERTIR_MONEDA]    Script Date: 21/08/2022 19:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONDIV_TC_CONVERTIR_MONEDA](
	[ID_CONVERTIR_MONEDA] [int] IDENTITY(1,1) NOT NULL,
	[FA_CONVERTIR_MONEDA] [char](1) NULL,
	[ID_CONVERTIR] [int] NOT NULL,
	[ID_MONEDA] [int] NOT NULL,
	[ES_REGISTRO] [nchar](2) NULL,
	[US_CREACION] [nvarchar](50) NULL,
	[FE_CREACION] [datetime] NULL,
	[IP_CREACION] [nvarchar](50) NULL,
	[US_ACTUALIZACION] [nvarchar](50) NULL,
	[FE_ACTUALIZACION] [datetime] NULL,
	[IP_ACTUALIZACION] [nvarchar](50) NULL,
 CONSTRAINT [PK__CONDIV_T__B38EABFFE75F37D4] PRIMARY KEY CLUSTERED 
(
	[ID_CONVERTIR_MONEDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CONDIV_VM_CONVERTIR_MONEDA]    Script Date: 21/08/2022 19:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CONDIV_VM_CONVERTIR_MONEDA]
	AS SELECT C.ID_CONVERTIR, C.CO_CONVERTIR, M.CO_MONEDA, 
	M.NO_MONEDA, M.SB_MONEDA,  CM.FA_CONVERTIR_MONEDA
	FROM [CONDIV_TC_CONVERTIR_MONEDA] CM
	JOIN CONDIV_TC_CONVERTIR C
	ON C.ID_CONVERTIR = CM.ID_CONVERTIR
	JOIN CONDIV_TC_MONEDA M
	ON M.ID_MONEDA = CM.ID_MONEDA;
GO
/****** Object:  Table [dbo].[CONDIV_TM_CATEGORIA_CAMBIO]    Script Date: 21/08/2022 19:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONDIV_TM_CATEGORIA_CAMBIO](
	[ID_CATEGORIA_CAMBIO] [int] IDENTITY(1,1) NOT NULL,
	[NO_CATEGORIA_CAMBIO] [nvarchar](50) NOT NULL,
	[ES_REGISTRO] [nchar](2) NULL,
	[US_CREACION] [nvarchar](50) NULL,
	[FE_CREACION] [datetime] NULL,
	[IP_CREACION] [nvarchar](50) NULL,
	[US_ACTUALIZACION] [nvarchar](50) NULL,
	[FE_ACTUALIZACION] [datetime] NULL,
	[IP_ACTUALIZACION] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA_CAMBIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONDIV_TC_TIPO_CAMBIO]    Script Date: 21/08/2022 19:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONDIV_TC_TIPO_CAMBIO](
	[ID_TIPO_CAMBIO] [int] IDENTITY(1,1) NOT NULL,
	[NO_TIPO_CAMBIO] [nvarchar](50) NOT NULL,
	[ID_CATEGORIA_CAMBIO] [int] NOT NULL,
	[MO_TIPO_CAMBIO] [money] NULL,
	[ID_CONVERTIR] [int] NOT NULL,
	[MO_UNIDAD] [money] NULL,
	[ES_REGISTRO] [nchar](2) NULL,
	[US_CREACION] [nvarchar](50) NULL,
	[FE_CREACION] [datetime] NULL,
	[IP_CREACION] [nvarchar](50) NULL,
	[US_ACTUALIZACION] [nvarchar](50) NULL,
	[FE_ACTUALIZACION] [datetime] NULL,
	[IP_ACTUALIZACION] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_CAMBIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CONDIV_VM_TIPO_CAMBIO]    Script Date: 21/08/2022 19:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CONDIV_VM_TIPO_CAMBIO]
	AS SELECT C.ID_CONVERTIR, C.CO_CONVERTIR,
			  CC.ID_CATEGORIA_CAMBIO, CC.NO_CATEGORIA_CAMBIO, 
			  TPC.MO_TIPO_CAMBIO
	FROM CONDIV_TC_TIPO_CAMBIO TPC
	JOIN CONDIV_TC_CONVERTIR C
	ON C.ID_CONVERTIR = TPC.ID_CONVERTIR
	JOIN CONDIV_TM_CATEGORIA_CAMBIO CC
	ON CC.ID_CATEGORIA_CAMBIO = TPC.ID_CATEGORIA_CAMBIO;
	
GO
/****** Object:  Table [dbo].[CONDIV_TC_USUARIO]    Script Date: 21/08/2022 19:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONDIV_TC_USUARIO](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NO_USUARIO] [nvarchar](100) NOT NULL,
	[AP_USUARIO] [nvarchar](200) NOT NULL,
	[CO_USUARIO] [nvarchar](50) NOT NULL,
	[PW_USUARIO] [nvarchar](1000) NOT NULL,
	[ES_REGISTRO] [nchar](2) NULL,
	[US_CREACION] [nvarchar](50) NULL,
	[FE_CREACION] [datetime] NULL,
	[IP_CREACION] [nvarchar](50) NULL,
	[US_ACTUALIZACION] [nvarchar](50) NULL,
	[FE_ACTUALIZACION] [datetime] NULL,
	[IP_ACTUALIZACION] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONDIV_TH_USUARIO_DIVISA]    Script Date: 21/08/2022 19:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONDIV_TH_USUARIO_DIVISA](
	[ID_USUARIO_DIVISA] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[ID_TIPO_CAMBIO] [int] NOT NULL,
	[MO_ENTRADA] [money] NULL,
	[MO_SALIDA] [money] NULL,
	[ES_REGISTRO] [nchar](2) NULL,
	[US_CREACION] [nvarchar](50) NULL,
	[FE_CREACION] [datetime] NULL,
	[IP_CREACION] [nvarchar](50) NULL,
	[US_ACTUALIZACION] [nvarchar](50) NULL,
	[FE_ACTUALIZACION] [datetime] NULL,
	[IP_ACTUALIZACION] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO_DIVISA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CONDIV_VM_HIS_USUARIO_DIVISA]    Script Date: 21/08/2022 19:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[CONDIV_VM_HIS_USUARIO_DIVISA]
	AS SELECT C.ID_CONVERTIR, C.CO_CONVERTIR, 
	          U.NO_USUARIO, U.AP_USUARIO, 
			  UD.MO_ENTRADA, UD.MO_SALIDA,
			  TC.MO_TIPO_CAMBIO, CC.NO_CATEGORIA_CAMBIO
	FROM CONDIV_TH_USUARIO_DIVISA UD
	JOIN CONDIV_TC_TIPO_CAMBIO TC
	ON UD.ID_TIPO_CAMBIO = TC.ID_TIPO_CAMBIO
	JOIN CONDIV_TC_USUARIO U
	ON U.ID_USUARIO = UD.ID_USUARIO
	JOIN CONDIV_TC_CONVERTIR C
	ON C.ID_CONVERTIR = TC.ID_CONVERTIR
	JOIN CONDIV_TM_CATEGORIA_CAMBIO CC
	ON CC.ID_CATEGORIA_CAMBIO = TC.ID_CATEGORIA_CAMBIO;
	
GO
SET IDENTITY_INSERT [dbo].[CONDIV_TC_CONVERTIR] ON 

INSERT [dbo].[CONDIV_TC_CONVERTIR] ([ID_CONVERTIR], [CO_CONVERTIR], [NO_CONVERTIR], [ES_REGISTRO], [US_CREACION], [FE_CREACION], [IP_CREACION], [US_ACTUALIZACION], [FE_ACTUALIZACION], [IP_ACTUALIZACION]) VALUES (1, N'PEN con USD', N'Sol con Dolar', N'A ', NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CONDIV_TC_CONVERTIR] OFF
GO
SET IDENTITY_INSERT [dbo].[CONDIV_TC_CONVERTIR_MONEDA] ON 

INSERT [dbo].[CONDIV_TC_CONVERTIR_MONEDA] ([ID_CONVERTIR_MONEDA], [FA_CONVERTIR_MONEDA], [ID_CONVERTIR], [ID_MONEDA], [ES_REGISTRO], [US_CREACION], [FE_CREACION], [IP_CREACION], [US_ACTUALIZACION], [FE_ACTUALIZACION], [IP_ACTUALIZACION]) VALUES (1, N'*', 1, 1, N'A ', N'', CAST(N'2022-08-21T23:44:20.230' AS DateTime), N'', N'', CAST(N'2022-08-21T23:44:20.230' AS DateTime), N'')
INSERT [dbo].[CONDIV_TC_CONVERTIR_MONEDA] ([ID_CONVERTIR_MONEDA], [FA_CONVERTIR_MONEDA], [ID_CONVERTIR], [ID_MONEDA], [ES_REGISTRO], [US_CREACION], [FE_CREACION], [IP_CREACION], [US_ACTUALIZACION], [FE_ACTUALIZACION], [IP_ACTUALIZACION]) VALUES (3, N'/', 1, 2, N'A ', N'', CAST(N'2022-08-21T23:44:20.230' AS DateTime), N'', N'', CAST(N'2022-08-21T23:44:20.230' AS DateTime), N'')
SET IDENTITY_INSERT [dbo].[CONDIV_TC_CONVERTIR_MONEDA] OFF
GO
SET IDENTITY_INSERT [dbo].[CONDIV_TC_MONEDA] ON 

INSERT [dbo].[CONDIV_TC_MONEDA] ([ID_MONEDA], [CO_MONEDA], [NO_MONEDA], [NO_PAIS], [SB_MONEDA], [ES_REGISTRO], [US_CREACION], [FE_CREACION], [IP_CREACION], [US_ACTUALIZACION], [FE_ACTUALIZACION], [IP_ACTUALIZACION]) VALUES (1, N'PEN', N'Soles', N'Perú', N'S         ', N'A ', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[CONDIV_TC_MONEDA] ([ID_MONEDA], [CO_MONEDA], [NO_MONEDA], [NO_PAIS], [SB_MONEDA], [ES_REGISTRO], [US_CREACION], [FE_CREACION], [IP_CREACION], [US_ACTUALIZACION], [FE_ACTUALIZACION], [IP_ACTUALIZACION]) VALUES (2, N'USD', N'Dolar', N'Estados Unidos', N'$         ', N'A ', NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CONDIV_TC_MONEDA] OFF
GO
SET IDENTITY_INSERT [dbo].[CONDIV_TC_TIPO_CAMBIO] ON 

INSERT [dbo].[CONDIV_TC_TIPO_CAMBIO] ([ID_TIPO_CAMBIO], [NO_TIPO_CAMBIO], [ID_CATEGORIA_CAMBIO], [MO_TIPO_CAMBIO], [ID_CONVERTIR], [MO_UNIDAD], [ES_REGISTRO], [US_CREACION], [FE_CREACION], [IP_CREACION], [US_ACTUALIZACION], [FE_ACTUALIZACION], [IP_ACTUALIZACION]) VALUES (1, N'0', 1, 3.9000, 1, 1.0000, N'F ', N'', CAST(N'2022-08-21T23:32:28.453' AS DateTime), N'', N'', CAST(N'2022-08-21T23:32:28.453' AS DateTime), N'')
INSERT [dbo].[CONDIV_TC_TIPO_CAMBIO] ([ID_TIPO_CAMBIO], [NO_TIPO_CAMBIO], [ID_CATEGORIA_CAMBIO], [MO_TIPO_CAMBIO], [ID_CONVERTIR], [MO_UNIDAD], [ES_REGISTRO], [US_CREACION], [FE_CREACION], [IP_CREACION], [US_ACTUALIZACION], [FE_ACTUALIZACION], [IP_ACTUALIZACION]) VALUES (2, N'0', 2, 3.5000, 1, 1.0000, N'F ', N'', CAST(N'2022-08-21T23:32:28.453' AS DateTime), N'', N'', CAST(N'2022-08-21T23:32:28.453' AS DateTime), N'')
INSERT [dbo].[CONDIV_TC_TIPO_CAMBIO] ([ID_TIPO_CAMBIO], [NO_TIPO_CAMBIO], [ID_CATEGORIA_CAMBIO], [MO_TIPO_CAMBIO], [ID_CONVERTIR], [MO_UNIDAD], [ES_REGISTRO], [US_CREACION], [FE_CREACION], [IP_CREACION], [US_ACTUALIZACION], [FE_ACTUALIZACION], [IP_ACTUALIZACION]) VALUES (5, N'0', 1, 3.8850, 1, 1.0000, N'A ', N'', CAST(N'2022-08-21T23:32:28.453' AS DateTime), N'', N'', CAST(N'2022-08-21T23:32:28.453' AS DateTime), N'')
SET IDENTITY_INSERT [dbo].[CONDIV_TC_TIPO_CAMBIO] OFF
GO
SET IDENTITY_INSERT [dbo].[CONDIV_TC_USUARIO] ON 

INSERT [dbo].[CONDIV_TC_USUARIO] ([ID_USUARIO], [NO_USUARIO], [AP_USUARIO], [CO_USUARIO], [PW_USUARIO], [ES_REGISTRO], [US_CREACION], [FE_CREACION], [IP_CREACION], [US_ACTUALIZACION], [FE_ACTUALIZACION], [IP_ACTUALIZACION]) VALUES (1, N'VANESSA', N'BURBANO', N'VABU', N'XZZZA#$FDSSSSSSW"""";.XZ12#$%&())==', N'A ', NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CONDIV_TC_USUARIO] OFF
GO
SET IDENTITY_INSERT [dbo].[CONDIV_TH_USUARIO_DIVISA] ON 

INSERT [dbo].[CONDIV_TH_USUARIO_DIVISA] ([ID_USUARIO_DIVISA], [ID_USUARIO], [ID_TIPO_CAMBIO], [MO_ENTRADA], [MO_SALIDA], [ES_REGISTRO], [US_CREACION], [FE_CREACION], [IP_CREACION], [US_ACTUALIZACION], [FE_ACTUALIZACION], [IP_ACTUALIZACION]) VALUES (1, 1, 1, 40.0000, 156.0000, N'A ', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[CONDIV_TH_USUARIO_DIVISA] ([ID_USUARIO_DIVISA], [ID_USUARIO], [ID_TIPO_CAMBIO], [MO_ENTRADA], [MO_SALIDA], [ES_REGISTRO], [US_CREACION], [FE_CREACION], [IP_CREACION], [US_ACTUALIZACION], [FE_ACTUALIZACION], [IP_ACTUALIZACION]) VALUES (10, 1, 5, 1000.0000, 257.4000, N'A ', N'', CAST(N'2022-08-21T18:51:43.987' AS DateTime), N'', N'', CAST(N'2022-08-21T18:51:43.990' AS DateTime), N'')
INSERT [dbo].[CONDIV_TH_USUARIO_DIVISA] ([ID_USUARIO_DIVISA], [ID_USUARIO], [ID_TIPO_CAMBIO], [MO_ENTRADA], [MO_SALIDA], [ES_REGISTRO], [US_CREACION], [FE_CREACION], [IP_CREACION], [US_ACTUALIZACION], [FE_ACTUALIZACION], [IP_ACTUALIZACION]) VALUES (11, 1, 6, 1000.0000, 3848.0000, N'A ', N'', CAST(N'2022-08-21T18:55:25.490' AS DateTime), N'', N'', CAST(N'2022-08-21T18:55:25.490' AS DateTime), N'')
SET IDENTITY_INSERT [dbo].[CONDIV_TH_USUARIO_DIVISA] OFF
GO
SET IDENTITY_INSERT [dbo].[CONDIV_TM_CATEGORIA_CAMBIO] ON 

INSERT [dbo].[CONDIV_TM_CATEGORIA_CAMBIO] ([ID_CATEGORIA_CAMBIO], [NO_CATEGORIA_CAMBIO], [ES_REGISTRO], [US_CREACION], [FE_CREACION], [IP_CREACION], [US_ACTUALIZACION], [FE_ACTUALIZACION], [IP_ACTUALIZACION]) VALUES (1, N'Venta', N'A ', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[CONDIV_TM_CATEGORIA_CAMBIO] ([ID_CATEGORIA_CAMBIO], [NO_CATEGORIA_CAMBIO], [ES_REGISTRO], [US_CREACION], [FE_CREACION], [IP_CREACION], [US_ACTUALIZACION], [FE_ACTUALIZACION], [IP_ACTUALIZACION]) VALUES (2, N'Compra', N'A ', NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CONDIV_TM_CATEGORIA_CAMBIO] OFF
GO
ALTER TABLE [dbo].[CONDIV_TC_CONVERTIR] ADD  DEFAULT ('A') FOR [ES_REGISTRO]
GO
ALTER TABLE [dbo].[CONDIV_TC_CONVERTIR_MONEDA] ADD  CONSTRAINT [DF__CONDIV_TC__ES_RE__45F365D3]  DEFAULT ('A') FOR [ES_REGISTRO]
GO
ALTER TABLE [dbo].[CONDIV_TC_MONEDA] ADD  DEFAULT ('A') FOR [ES_REGISTRO]
GO
ALTER TABLE [dbo].[CONDIV_TC_TIPO_CAMBIO] ADD  DEFAULT ('A') FOR [ES_REGISTRO]
GO
ALTER TABLE [dbo].[CONDIV_TC_USUARIO] ADD  DEFAULT ('A') FOR [ES_REGISTRO]
GO
ALTER TABLE [dbo].[CONDIV_TH_USUARIO_DIVISA] ADD  DEFAULT ('A') FOR [ES_REGISTRO]
GO
ALTER TABLE [dbo].[CONDIV_TM_CATEGORIA_CAMBIO] ADD  DEFAULT ('A') FOR [ES_REGISTRO]
GO
ALTER TABLE [dbo].[CONDIV_TC_CONVERTIR_MONEDA]  WITH CHECK ADD  CONSTRAINT [CONDIV_CONMO_CONVERTIR_FK] FOREIGN KEY([ID_CONVERTIR])
REFERENCES [dbo].[CONDIV_TC_CONVERTIR] ([ID_CONVERTIR])
GO
ALTER TABLE [dbo].[CONDIV_TC_CONVERTIR_MONEDA] CHECK CONSTRAINT [CONDIV_CONMO_CONVERTIR_FK]
GO
ALTER TABLE [dbo].[CONDIV_TC_CONVERTIR_MONEDA]  WITH CHECK ADD  CONSTRAINT [CONDIV_CONMO_MODENA_FK] FOREIGN KEY([ID_MONEDA])
REFERENCES [dbo].[CONDIV_TC_MONEDA] ([ID_MONEDA])
GO
ALTER TABLE [dbo].[CONDIV_TC_CONVERTIR_MONEDA] CHECK CONSTRAINT [CONDIV_CONMO_MODENA_FK]
GO
ALTER TABLE [dbo].[CONDIV_TC_TIPO_CAMBIO]  WITH CHECK ADD  CONSTRAINT [CONDIV_TPCA_CAT_CAMBIO_FK] FOREIGN KEY([ID_CATEGORIA_CAMBIO])
REFERENCES [dbo].[CONDIV_TM_CATEGORIA_CAMBIO] ([ID_CATEGORIA_CAMBIO])
GO
ALTER TABLE [dbo].[CONDIV_TC_TIPO_CAMBIO] CHECK CONSTRAINT [CONDIV_TPCA_CAT_CAMBIO_FK]
GO
ALTER TABLE [dbo].[CONDIV_TC_TIPO_CAMBIO]  WITH CHECK ADD  CONSTRAINT [CONDIV_TPCA_CONVERTIR_FK] FOREIGN KEY([ID_CONVERTIR])
REFERENCES [dbo].[CONDIV_TC_CONVERTIR] ([ID_CONVERTIR])
GO
ALTER TABLE [dbo].[CONDIV_TC_TIPO_CAMBIO] CHECK CONSTRAINT [CONDIV_TPCA_CONVERTIR_FK]
GO
ALTER TABLE [dbo].[CONDIV_TH_USUARIO_DIVISA]  WITH CHECK ADD  CONSTRAINT [CONDIV_USDI_TP_CAMBIO_FK] FOREIGN KEY([ID_TIPO_CAMBIO])
REFERENCES [dbo].[CONDIV_TC_TIPO_CAMBIO] ([ID_TIPO_CAMBIO])
GO
ALTER TABLE [dbo].[CONDIV_TH_USUARIO_DIVISA] CHECK CONSTRAINT [CONDIV_USDI_TP_CAMBIO_FK]
GO
ALTER TABLE [dbo].[CONDIV_TH_USUARIO_DIVISA]  WITH CHECK ADD  CONSTRAINT [CONDIV_USDI_USUARIO_FK] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[CONDIV_TC_USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[CONDIV_TH_USUARIO_DIVISA] CHECK CONSTRAINT [CONDIV_USDI_USUARIO_FK]
GO
USE [master]
GO
